<!DOCTYPE html>
<html>

<head>
    <title>Coding Practice</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <h1>💻 Coding Practice</h1>

        <h2>Python Programs</h2>

        <div class="cards">

            <div class="card">
                <h2>🔢 Even or Odd</h2>
                <p>Check whether a number is even or odd.</p>
                <a href="/even-odd">
    <button>Practice</button>
</a>
            </div>

            <div class="card">
                <h2>🔁 Palindrome</h2>
                <p>Check whether a number is a palindrome.</p>
                <a href="/palindrome">
    <button>Practice</button>
</a>
            </div>

            <div class="card">
                <h2>➕ Sum of Digits</h2>
                <p>Find the sum of digits of a number.</p>
                <a href="/sum-digits">
    <button>Practice</button>
</a>
            </div>

            <div class="card">
                <h2>✖️ Factorial</h2>
                <p>Find the factorial of a number.</p>
                <a href="/factorial">
    <button>Practice</button>
</a>
            </div>

        </div>

        <br>

</div>
        <a href="/dashboard">
            <button>⬅ Back to Dashboard</button>
        </a>

    </div>

</body>

</html>