<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Placement Preparation System</h1>

        <h2>Welcome {{ name }} 👋</h2>

        <div class="cards">

            <div class="card">
                <h2>📚 Aptitude</h2>
                <p>Practice aptitude questions</p>
                
                <a href="/quiz">
    <button>Start Test</button>
</a>
            </div>

            <div class="card">
                <h2>💻 Coding</h2>
                <p>Practice Python programs</p>
                <a href="/coding">
    <button>Coding</button>
</a>
            </div>
            <div class="card">
                <h2>🎤 Interview</h2>
                <p>Prepare interview questions</p>
                <a href="/technical">
    <button>Interview</button>
    <a href="/hr"><br>
    <button>HR Interview</button>
</a>
</a>
            </div>

            <div class="card">
                
                <h2>📝 Mock Test</h2>
                <p>Take a placement test</p>
                <a href="/quiz">
    <button>Start Test</button>
</a>
                 <a href="/resume">
    <button>📄 My Resume</button></a>
    
            </div>

        </div>

    </div>

</body>

</html>