<!DOCTYPE html>
<html>

<head>
    <title>HR Interview</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>🎤 HR Interview Preparation</h1>

    <div class="card">

        <h2>1. Tell me about yourself.</h2>

        <p>
           My name is H.Abdullah.
           Iam focused on commerce/business-related studies as well as building my technical skills.
           Iam  preparing myself  for placements and job opportunities.
        </p>

    </div>

    <br>

    <div class="card">

        <h2>2. What are your strengths?</h2>

        <p>
            Quick learner – I can learn new skills and technologies quickly.<br>
            Hardworking – I stay connected to completing my tasks at the given time.<br>
            Problem-solving – I try to understand and fix problems step by step.<br>
            Adaptability – I can adjust to new situations and challenges.<br>
            Self-motivated – I take initiative to improve my knowledge and skills.
        </p>

    </div>

    <br>

    <div class="card">

        <h2>3. What are your weaknesses?</h2>

        <p>
            Overthinking – Sometimes I spend extra time thinking about decisions.<br>
            Public speaking –sometimes I feel very Low  confident while speaking in front of others.<br>
            Time management – I am improving my ability to manage multiple tasks efficiently.
        </p>

    </div>

    <br>

    <div class="card">

        <h2>4. Why should we hire you?</h2>

        <p>
            You should hire me because I am a quick learner, hardworking, and willing to learn new skills. I have basic knowledge of Python and full-stack development, and I am good at solving problems step by step. I am also adaptable and committed to improving myself. I believe I can contribute to the company while continuously learning and growing.

        </p>

    </div>

    <br>

    <div class="card">

        <h2>5. Why do you want to join our company?</h2>

        <p>
            I want to join your company because it provides a good opportunity to learn, develop my skills, and build my career. I am interested in working in a professional environment where I can contribute to the team, gain practical experience, and grow along with the company.

        </p>

    </div>

    <br>

    <div class="card">

        <h2>6. Where do you see yourself in 5 years?</h2>

        <p>
            In five years, I see myself as a skilled and experienced professional in my field. I want to take on more responsibilities, contribute to important projects, and continue learning new technologies. I also hope to grow into a position where I can support my team and contribute to the success of the company.

        </p>

    </div>

    <br>

    <div class="card">

        <h2>7. Are you willing to relocate?</h2>

        <p>
            Yes, I am definitely willing to relocate based on the requirements of the job. I am comfortable adapting to new environments and see relocation as a good opportunity to take on new challenges, gain experience, and grow professionally.

        </p>

    </div>

    <br>

    <a href="/dashboard">
        <button>⬅ Back to Dashboard</button>
    </a>

</div>

</body>

</html>